@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rjwb7');
  src:  url('fonts/icomoon.eot?rjwb7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rjwb7') format('truetype'),
    url('fonts/icomoon.woff?rjwb7') format('woff'),
    url('fonts/icomoon.svg?rjwb7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up-left:before {
  content: "\ea31";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up-right:before {
  content: "\ea33";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down-right:before {
  content: "\ea35";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-down-left:before {
  content: "\ea37";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-home3:before {
  content: "\e902";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-redo:before {
  content: "\e966";
}
.icon-cog:before {
  content: "\e994";
}
